<!DOCTYPE html>
<html>
<head>
  <title>Nick Olds | WDI Canidate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
          
</head>
<body>
  <nav>
    <div class="nav-wrapper blue darken-2">
      <%= link_to 'Nicholas Olds', root_path, :class => "center brand-logo" %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="<%= pages_about_path %>"><i class="mdi-action-perm-identity"></i></a></li>
        <li><a href="<%= pages_contact_path %>"><i class="mdi-maps-place"></i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="<%= pages_about_path %>"><i class="mdi-action-perm-identity"></i></a></li>
        <li><a href="<%= pages_contact_path %>"><i class="mdi-maps-place"></i></a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col m10 offset-m1">
      <%= yield %>    
    </div>
  </div>

  <footer class="page-footer blue darken-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Nicholas Olds</h5>
            <p class="grey-text text-lighten-4">Summer 2015 GA DC WDI Candidate
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Social</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://twitter.com/nolds9">Twitter</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/nolds9">Github</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>    
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2015 Copyright Nicholas Olds
    
        <%= link_to "About", pages_about_path, :class => "grey-text text-lighten-4 right" %>
        </div>
      </div>
   </footer>


  <script>
    $(".button-collapse").sideNav();
  </script>

</body>
</html>
